.compilebox {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  .hd {
    height: 40px;
    border-bottom: 1px solid #c1dcf5;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  .aside {
    flex-basis: 200px;
    border-left: 1px solid #c1dcf5;
    border-right: 1px solid #c1dcf5;
  }
  .inputbox {
    flex-basis: 500px;
    border-right: 1px solid #c1dcf5;
  }
  .outputbox {
    flex-basis: 500px;
    border-right: 1px solid #c1dcf5;
    .bd {
      padding: 10px;
      &.error {
        background: red;
        color: #fff;
      }
    }
  }
}